<center><p>Lets create post</p></center>

<div class='container'>
  <form action="/new_post" method="post">


    Title: <input type="text" name="test[title]"> <br>
    Description: <input type="text" name="test[description]"><br>
    Author: <input type="text" name="test[author]"><br>
    Email: <input type="text" name="test[email]"><br>
    Location: <input type="text" name="test[location]"><br>
    Category:
    <select name='category_id'>
      <% @categories.each do |category| %>
        <option value='<%= category.id %>'><%= category.name %></option>
      <% end %>
    </select>
    <br>

    <input type="submit" value="Create Post">
  </form>
</div>
